<% include ./partials/header %>
<div class="container-fluid d-flex flex-wrap" id="aboutPage">
    <div class="mx-auto">
        <h2 id="aboutTitle">About Me <i class="fas fa-user fa-fw"></i> </h2>
    </div>
    <div id="contentBox" class="px-4 pt-3 pb-2 mt-3"> 
        <div class="row">
            <div class="col-sm-12 d-flex">
                <p>
                    Hi! I’m Aryan Soni and I’m a high school student based out of Brampton, Ontario 
                    who is interested in jumpstarting a career in software development.
                </p>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex">
                <p>
                    From a young age, I have always enjoyed problem-solving - programming was 
                    just another manifestation of this hobby. So far, I've managed to learn the 
                    basics of Python alongside web development.
                </p>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex">
                <p>
                    Today, I am striving to increase my knowledge base in several 
                    relevant categories.  I am learning the applications of Python in data science 
                    and machine learning, while also picking up basic C++. In terms of theory,  
                    I am studying the fundamentals of computer science (i.e. algorithms and 
                    data structures) in addition to reviewing strands of mathematics above my 
                    grade level. 
                </p>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex">
                <p>
                    Tech/math aside, finance and entrepreneurship are also two fields that are of 
                    great interest to me. At school, I try to immerse myself in a diverse array of 
                    extracurriculars that are relevant to these areas, while also participating in 
                    math/programming competitions. In my spare time, I enjoy watching basketball/soccer 
                    and reading. 
                </p>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex">
                <p>
                    I am actively searching for opportunities to help me grow, so please feel free to 
                    <a id="reach" href="/contact">
                        reach out to me. 
                    </a> 
                </p>
            </div> 
        </div>
    </div>
</div>


<% include ./partials/footer %>