<% include ./partials/header %>
<div class="container-fluid d-flex flex-wrap" id="aboutPage">
    <div class="mx-auto">
        <h2 id="aboutTitle">About Me <i class="fas fa-user fa-fw"></i> </h2>
    </div>
    <div id="contentBox" class="px-4 pt-3 pb-2 mt-3"> 
        <div class="row">
            <div class="col-sm-12 d-flex">
                <p>
                    Hi! I’m Aryan Soni and I’m a high school student based out of Brampton, Ontario 
                    who is interested in jumpstarting a career in software development.
                </p>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex">
                <p>
                    From a young age, I have always enjoyed problem-solving and programming was 
                    just another manifestation of this hobby. So far, I've managed to learn the 
                    basics of <span class="bold">Python</span> alongside <span class="bold">web 
                    development</span>, and I am continually striving to increase my knowledge 
                    base in several relevant categories.
                </p>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex">
                <p>
                    Whether it be learning the applications of Python in <span class="bold">
                    data science and machine learning</span>, the <span class="bold">fundamentals 
                    of computer science</span> (i.e. algorithms and data structures), the basics of
                    <span class="bold"> C++</span>, or even strands of <span class="bold">mathematics 
                    above my grade level</span>, I am taking strides every day to improve my technical 
                    abilities. 
                </p>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex">
                <p>
                    Tech/math aside, I also enjoy learning about <span class="bold">finance</span> 
                    and <span class="bold">entrepreneurship</span>. At school, I try to immerse myself 
                    in a diverse array of extracurriculars that are relevant to these areas, while also 
                    participating in math/programming competitions. In my spare time, I enjoy watching 
                    basketball/soccer and reading. 
                </p>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex">
                <p>
                    I am actively searching for opportunities to help me grow, so please feel free to 
                    <a id="reach" href="/contact">
                        <span class="bold">reach out to me</span>. 
                    </a> 
                </p>
            </div> 
        </div>
    </div>
</div>

<% include ./partials/footer %>