<% include ./partials/header %>

<div class="container-fluid"> 
    <div class="row" id="firstRow">
         <div class="col-sm-12 d-flex justify-content-center">
                <h1 id="name">Aryan Soni {
                    <a href="#">
                        <i class="far fa-user-circle" id="about"></i>
                    </a>
                 }</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center iconRow">
         <div class="col-3-sm" id="resume">
            <a href="#">
                <i id="resumeIcon" class="fas fa-file-pdf fa-fw icon"></i>
            </a>
        </div>
        <div class="col-3-sm iconSpacing" id="github">
            <a href="#" >
                <i id="githubIcon" class="fab fa-github fa-fw fa-inverse icon"></i>
            </a>
        </div>
    </div>
    <div class="row d-flex justify-content-center iconRow">
            <div class="col-3-sm" id="portfolio">
                <a href="#">
                    <i id="portfolioIcon" class="far fa-folder-open fa-fw icon"></i>
                </a>
            </div>
             <div class="col-3-sm iconSpacing" id="contact">
                <a href="#" >
                    <i id="contactIcon" class="fas fa-envelope-open fa-fw icon"></i>
                </a>
            </div>
    </div> 
</div>

<% include ./partials/footer %>