<% include ./partials/header %>

<div class="container-fluid d-flex justify-content-center"> 
    <!-- Styled box to hold content -->
    <div id="box" class="px-5 pb-5 pt-3">
        <div class="row" id="firstRow">
            <!-- Center content -->
            <div class="col-sm-12 d-flex justify-content-center">
                <h1 id="name">Aryan Soni 
                    <!-- Add aboutMe icon beside name -->
                    <a href="/about">
                        <i class="fas fa-user fa-fw" id="aboutIcon"></i>
                    </a>
                </h1>
            </div>
         </div>
         <!-- Div instead of hr for styling  -->
         <div id="seperator"></div> 
         <!-- Bootstrap grid system and flexbox to style icons, which link to routes -->
         <div class="row d-flex justify-content-center" id="firstRow">
            <div class="col-3-sm" id="resume">
                <a href="/resume">
                    <i id="resumeIcon" class="fas fa-file-pdf fa-fw icon"></i>
                </a>
            </div>
            <div class="col-3-sm iconSpacing" id="github">
                <a href="https://github.com/aryan-soni" >
                    <i id="githubIcon" class="fab fa-github fa-fw icon"></i>
                </a>
            </div>
        </div>
        <div class="row d-flex justify-content-center" id="secondRow">
            <div class="col-3-sm" id="portfolio">
                <a href="/portfolio">
                    <i id="portfolioIcon" class="far fa-folder-open fa-fw icon"></i>
                </a>
            </div>
            <div class="col-3-sm iconSpacing" id="contact">
                <a href="/contact" >
                    <i id="contactIcon" class="fas fa-envelope-open fa-fw icon"></i>
                </a>
            </div>
        </div> 
    </div>
</div>

<% include ./partials/footer %>