<% include ./partials/header %>
<div class="container-fluid d-flex flex-wrap" id="aboutPage">
    <!-- Center title -->
    <div class="mx-auto">
        <h2 id="portfolioTitle">What I'm Working On <i class="far fa-folder-open fa-fw"></i> </h2>
    </div>
    <!-- Keep content in box for styling purposes -->
    <div id="contentBox" class="px-4 pt-3 pb-2 mt-3"> 
        <!-- Bootstrap Grid System and Flex Utilities  -->
        <div class="row d-flex">
            <div class="col-sm-12">
                <div class="row">
                    <!-- Keep img and description beside each other if width permits it
                         else stack on top of each other -->
                    <div class="col-sm-4 d-flex m-auto">
                        <img src='./imgs/huddle.jpeg' alt="Huddle" class=" mx-auto img-fluid img-thumbnail">
                    </div>
                    <div class="col-sm-8 d-flex flex-column" id="joinTheHuddle">
                            <h5 id="jthTitle" class="py-2">joinTheHuddle</h5>
                            <p>
                                joinTheHuddle is a web application that streamlines 
                                the lengthy process of organizing sporting events with 
                                friends. It's as simple as creating an account, selecting 
                                a sport and location, and inviting friends to play. 
                                As opposed to the alternative of sending dozens of text 
                                messages on numerous platforms, joinTheHuddle makes things 
                                a lot easier by compressing everything into one location 
                                with a clean UI. The host and those invited can see the 
                                sport,  location, time, weather/temperature, and who’s coming.  
                                Using the MERN Stack (MongoDB, Express.js, React.js, Node.js) 
                                and Bootstrap, the application integrates weather/location APIs 
                                and numerous other functionalities.
                            </p>   
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>