body {
    color: black;
    font-family: 'Raleway', sans-serif;
    background-image: url("../imgs/clouds.jpeg");
}

/* navbar - need specifity */

/* brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
    font-size: 2vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/* create hover effect for brand to demonstrate it is an active link */
.navbar-custom .navbar-brand:hover {
    color:#d4af37;
    font-size: 2.2vh;
}
/* color of links */
.navbar-custom .navbar-nav .nav-link {
    color: black;
    font-size: 2vh;
    font-family: 'Raleway', sans-serif;
}

/* create hover effects to demonstrate they are links */
.navbar-custom .navbar-nav .nav-link:hover {
    color:#d4af37;
    font-size: 2.2vh;
}

/* dropdown */

#toggler {
    color:black;
    font-size: 2.5vmax;
}

/* ------------------------------------------------- */

#box {
    background-color: #F5F5F5;
    margin-top: 20vh;
    border-radius: 10%;
    border-width: 5px;
    border-style: ridge;
    border-color: #d4af37;
  }
#seperator {
    margin-top: 1.5vh;
    background-color: #d4af37;
    height: 1.5px;
}

#firstRow {
    margin-top: 4.5vh;
}

#secondRow {
    margin-top: 6vh;
}

.iconSpacing {
    margin-left: 6vh;
}

#name {
    color: black;
    font-weight: 200;
    font-size: 2.5vmax;
}

#aboutIcon {
    color: #585858;
    font-size: 2.5vmax;
}

.icon {
    font-size: 3vmax;
    color: #585858;
}

#aboutIcon:hover {
    color: #d4af37;
    font-size: 3.75vmax;    
}

.icon:hover {
    color: #d4af37;
    font-size: 3.75vmax;
}
@media (max-width: 500px){
    #name {
        font-size: 3vmax;
    }
    
    #aboutIcon {
        font-size: 3vmax;
    }
    
    .icon {
        font-size: 3.3vmax;
    }
}
/* Contact Page */
#contactPage {
    color: black;
    font-weight: 300;
    width: 75vw;
    font-family: 'Raleway', sans-serif;
}


#contactTitle {
    font-weight: 300;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: 2.7vmax;
}

.form-group label {
    font-size: 1.7vmax;
}

::placeholder {
    font-size: 1.5vmax;
}

#full-name {
    width: 40vw;
    height: 3.5vh;
}

#email-address {
    width: 55vw;
    height: 3.5vh;
}

#message {
    width: 63vw;
    height: 15vh;
}

#fs-frm button {
    background-color: #d4af37;
    width: 15vmax;
    height: 5vh;
    font-size: 1.7vmax;
    margin-top: 2vh;
}

@media (min-width: 1000px) {
    .form-group label {
        font-size: 20px;
    } 
    ::placeholder {
        font-size: 16px;
    } 
    #fs-frm button {
        font-size: 20px;
        width: 175px;
        height: 47px;
    }
}

#hover:hover {
    color: black;
}

#hover:active {
    background-color:#d4af37;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #hover span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #hover span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #hover:hover span {
    padding-right: 25px;
  }
  
  #hover:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* Relevant to About Page and Portfolio Page */
  #contentBox {
    width: 90vw;
    background-color: #F5F5F5;
    border-radius: 10%;
    border-width: 5px;
    border-style: ridge;
    border-color: #d4af37;
    font-size: 1.7vmax;
  }

  /* About Page */
  
  #aboutPage {
    color: black;
    font-weight: 300;
    width: 90vw;
    font-family: 'Raleway', sans-serif;
  }

  #reach {
      color: #585858;
      font-weight: 400;
      text-decoration: underline;
  }

  #reach:hover {
      color: #d4af37;
      font-size: 2vmax;
  }

@media (min-width: 1000px) {
    #contentBox {
        font-size: 16;
    }
    #reach:hover {
        font-size: 1.7vmax;
    }
}

#aboutTitle {
    color:black;
    font-weight: 300;
    margin-top: 2vh;
    font-size: 2.7vmax;
}

.bold {
    font-weight:500;
}
/* Portfolio Page */
#portfolioTitle {
    color: black;
    font-weight: 300;
    margin-top: 2vh;
    font-size: 2.7vmax;
}

#contentBox img {
    max-width: 20vmax;
    max-height: 14vmax;
    border-radius: 20%;
}

#joinTheHuddle {
    margin-top: 2vh;
}

#jthTitle {
    font-weight: 600;
    font-size: 2vmax;
}

@media (min-width: 1150px) {
    #jthTitle {
        font-size: 23px;
    }
}

/* resume */

/* background color resume page same as background of pdf  */
#resumeBg {
    background-image: none !important;
    background-color: #525659;
}
