html {
    color: black;
    font-family: 'Raleway', sans-serif;
}

/* navbar - need specifity */

/* brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
    font-size: 2vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/* create hover effect for brand to demonstrate it is an active link */
.navbar-custom .navbar-brand:hover {
    color:#d4af37;
    font-size: 2.2vh;
}
/* color of links */
.navbar-custom .navbar-nav .nav-link {
    color: white;
    font-size: 2vh;
    font-family: 'Raleway', sans-serif;
}

/* create hover effects to demonstrate they are links */
.navbar-custom .navbar-nav .nav-link:hover {
    color:#d4af37;
    font-size: 2.2vh;
}

/* dropdown */

#toggler {
    color:white;
    font-size: 2.5vmax;
}

/* ------------------------------------------------- */


.container-fluid::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;   
    background-image: url('../imgs/space_image.jpeg');
    opacity: 0.8;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

#box {
    background-color: #F5F5F5;
    margin-top: 20vh;
    border-radius: 10%;
    border-width: 5px;
    border-style: ridge;
    border-color: #d4af37;
  }
#seperator {
    margin-top: 1.5vh;
    background-color: #d4af37;
    height: 1.5px;
}

#firstRow {
    margin-top: 4.5vh;
}

#secondRow {
    margin-top: 6vh;
}

.iconSpacing {
    margin-left: 6vh;
}

#name {
    color: black;
    font-weight: 200;
    font-size: 2.5vmax;
}

#about {
    color:#585858;
    font-size: 2.5vmax;
}

#about:hover {
    color: #d4af37;
    font-size: 3vmax;
}

.icon {
    font-size: 3vmax;
    color: #585858	;
}

.icon:hover {
    color: #d4af37;
    font-size: 3.75vmax;
}

contactForm {
    display: block-inline;
}